[user]
	name = Mikko Mattila
	email = 9086012+mikkomattila@users.noreply.github.com
[core]
	editor = nvim
[diff]
	algorithm = histogram

[help]
	autocorrect = prompt

[init]
	defaultBranch = main

[fetch]
	prune = true

[log]
	date = iso

[push]
	autosetupremote = true

[merge]
	conflictstyle = diff3

[alias]
	co = checkout
	cob = checkout -b
	ci = commit
	d = diff
	fe = fetch
	pl = pull
	st = status
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	lg = log --decorate --all --graph --oneline
